attrs
beautifulsoup4
bs4
click
coverage
decorator
exceptiongroup
Flask
Flask-Cors
iniconfig
itsdangerous
Jinja2
markdown-it-py
MarkupSafe
mdurl
packaging
pluggy
psycopg2
psycopg2-binary
Pygments
pytest
pytest-cov
python-dotenv
rich
six
soupsieve
tomli
validators
Werkzeug
